body{
  margin-top: 80px;
  background-color: #21252b;
  color: #ffffff;
  padding: 2% 10%;
}
h1{
  font-family: Helvetica;
  font-size: 3em;
  color: #ffffff;
}
h2{
  font-family: Helvetica;
  font-size: 2.5em;
  color: #ffffff;
}
h3{
  font-family: Helvetica;
  font-size: 2em;
  color: #ffffff;
}
p{
  font-family: Arial;
  font-size: 1.2em;
  color: #ffffff;
}
form{
  padding: 20px;
}
#TCSmainphoto{
  display: block;
  border-radius: 10px;
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#NewsImg{
  border-radius: 15px;
  width: 960px;
  height: auto;
  height: auto;
  margin-left: 240px;
  margin-right: auto;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #8726a2;
  overflow: hidden;
  height: 80px; /* Full-height: remove this if you want "auto" height */
  width: 100%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  height: 80px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 26px 22px;
  text-decoration: none;
  font-size: 22px;
  margin: auto;
  font-family: 'Roboto';
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #72bf80;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e53a35;
  color: white;
}

.topnav a.home {
  background-color: #EA5A1F;
  color: white;
  width: 170px;
  padding: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.baner {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    height: 60px;
    width: 326px;
    top: calc(50% - 30px);
    left: calc(50% - 163px);   /* if you want it vertically middle of the navbar. */
}

.logo {
    display: inline-block;
    vertical-align: top;
    align-self: center;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;

    /* margin-top: 15px;    /* if you want it vertically middle of the navbar. */ */
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 480px;
  height: 270px;
  border-radius: 15px;

}
