body{
  background-color: black;
  font-family: Arial;
  font-size: 1.2em;
  color: red;
}
ul{
  list-style-type: disc;
}
table{
  display: block;
  color:white;
  border: 1px solid;
}
#redanchor{
  color: red;
}
#baner{
  display: block;
  height: 130px;
}
#albert{
  float: right;
  display: block;
  height: 500px;
}
#mark{
  color: red;
}
.footer{
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 10px;
}
.navigation{
  width: 250px;
}
.main{
  display: block;
  margin-left: 250px;
  position: absolute;
  right: 0;
  padding-right: 20px;
}
