body{
  background-color: #21252b;
  position: absolute;
}
h1{
  font-family: Helvetica;
  font-size: 4em;
  color: #ffffff;
}
h2{
  font-family: Helvetica;
  font-size: 3em;
  color: #dedede;
}
h3{
  font-family: Helvetica;
  font-size: 2.5em;
  color: #4aa5b9;
}
p{
  font-family: Arial;
  font-size: 1.5em;
  color: #ffffff;
}
#intro1{
  font-family: Brush Script MT;
  font-size: 2em;
  font-weight: 100;
}
#intro2{
  font-family: Courier New;
  font-size: 1.5em;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixe7d Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0px; /* Stay at the top */
  left: 0;
  background-color: #00695c; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  font-family: 'Roboto', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #111;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 1px 20px;
}
