body{
  background-color: black;
  font-family: Arial;
  font-size: 1.2em;
}

#baner{
  display: block;
  height: 130px;
}
#albert{
  float: right;
  display: block;
  height: 500px;
}
#mark{
  color: red;
}
