body{
  background-color: black;
  font-family: Arial;
  font-size: 1.2em;
  color: red;
}
ul{
  list-style-type: disc;
}
#redanchor{
  color: red;
}
#baner{
  display: block;
  height: 130px;
}
#albert{
  float: right;
  display: block;
  height: 500px;
}
#mark{
  color: red;
}
.footer{
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 10px;
}
