body{
  background-color: #21252b;
  position: absolute;
  padding: 2%;
}
h1{
  font-family: Helvetica;
  font-size: 4em;
  color: #ffffff;
}
h2{
  font-family: Helvetica;
  font-size: 3em;
  color: #4aa5b9;
}
h3{
  font-family: Helvetica;
  font-size: 2.5em;
  color: #4aa5b9;
}
p{
  font-family: Arial;
  font-size: 1.2em;
  color: #ffffff;
}
.refren{
  margin-left: 7em;
  font-style: normal;
}
.gwiazdka{
  margin-left: 5em;
}
